[tool.poetry]
name = "auto_uncertainties"
version = "0.3.0"
description = "Linear Uncertainty Propagation with Auto-Differentiation"
authors = ["Varchas Gopalaswamy <vgop@lle.rochester.edu>"]

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
numpy = ">1.20"
jax = "*"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
hypothesis = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
